{erl_opts, [debug_info]}.
{deps, []}.

%% ExDoc plugin for documentation generation
{plugins, [rebar3_ex_doc]}.

{ex_doc, [
  {extras, ["README.md"]},
  {main, "README.md"},
  {source_url, "https://github.com/stritzinger/trellang"}
]}.

{shell, [
    %% {config, "config/sys.config"},
    {apps, [trellang]}
]}.
