{erl_opts, [debug_info]}.
{deps, []}.

%% Use project_plugins so downstream users don't need plugins installed
{project_plugins, [rebar3_hex, rebar3_ex_doc]}.

%% ExDoc configuration
{ex_doc, [
  {extras, ["README.md"]},
  {main, "README.md"},
  {source_url, "https://github.com/stritzinger/trellang"},
  %% set source_ref to the application version tag at publish time
  {source_ref, "v0.1.0"}
]}.

%% Hex: build & upload docs to HexDocs when publishing
{hex, [{doc, ex_doc}]}.

%% relx release skeleton for local runs
{relx, [
  {release, {trellang, semver}, [trellang]}
]}.

{shell, [
    %% {config, "config/sys.config"},
    {apps, [trellang]}
]}.
